.freakstockContent {
	margin: 5px 0px;
}

.freakstockContent a {
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
    font-color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}
.freakstockContent label{
	display: block;
	padding-right: 5px;
}

.freakstockContent ul li{
         margin: 0px;
        padding: 10px 0px;
        list-style-type: none;       
}

.cl{
	clear: both;
}

.quater{
    width: 25%;
}


.half{
    width: 50%;
}

.full{
    width: 100%;
}

.row {
    padding: 5px;  	
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.hidden {
	display: none;
}